*{
    padding: 0;
    margin: auto;
    box-sizing: border-box;
}
body{
   background-image: 
        linear-gradient(rgba(15, 13, 13, 0.3), rgba(51, 50, 50, 0.3)), 
        url('https://cdn.mos.cms.futurecdn.net/rDJegQJaCyGaYysj2g5XWY.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
    align-self: center;
    justify-content: center;
}
#main-text{
    font-weight: bolder;
    font-size: 55px;
    color: white;
}
.txt{
    /* display: flex; */
    margin-top: 230px;
}
#footer-text{
    font-size: 25px;
    color: white;
    font-weight: bolder;
}
#input{
    background-color: black;
    border: 1px solid none;
    color: white;
}
#input:hover{
    background-color: black;
    color: wheat;
    background-color: opacity(0.5);
}
#main-button{
    color: white;
    font-weight: bolder;
    font-size: 25px;
}
#sec-page-text{
    font-weight: bolder;
    font-size: 40px;
    color: white;
}
.sec-page{
    margin-top: 18%;
    background-color: black;
}


.sec-page {
  padding: 50px 0;
  background-color: #000; 
  color: white;
}

#sec-page-text {
  font-size: 40px;
  font-weight: 700;
}


.row.flex-nowrap {
  overflow-x: auto;
  white-space: nowrap;
}

.card {
  margin-right: 15px;
}
#sec-3-card{
    background: #000000;
background: linear-gradient(151deg,rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(240, 0, 0, 1) 100%);
    color: white;
}

.third-page{
     /* margin-top: 5%; */
    background-color: black;

}